.sertificats {
  max-width: $max-width;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.sertificats__title {
  margin-bottom: 50px;
}


.sertificats__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.sertificats__item {
  width: 100px;
  cursor: pointer;
  transform: scale(1);
  transition: 1s;

  & img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.3);
    transition: 1s;
  }
}
